workflows/04-smart-report/autoreport.txt
{
  "name": "SmartReport - Automated Sales Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getMany",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Sales Data"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "returnAll": true
      },
      "id": "fetch-sales-data",
      "name": "Fetch Sales Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst sales = data.map(item => item.json);\n\n// Calculate metrics\nconst totalRevenue = sales.reduce((sum, row) => sum + (row.Quantity * row.Price), 0);\nconst totalOrders = sales.length;\nconst avgOrderValue = totalRevenue / totalOrders;\n\n// Get current month and last month data\nconst now = new Date();\nconst currentMonth = now.getMonth();\nconst lastMonth = currentMonth - 1;\n\nconst currentMonthSales = sales.filter(row => {\n  const date = new Date(row.Date);\n  return date.getMonth() === currentMonth;\n});\n\nconst lastMonthSales = sales.filter(row => {\n  const date = new Date(row.Date);\n  return date.getMonth() === lastMonth;\n});\n\nconst currentMonthRevenue = currentMonthSales.reduce((sum, row) => sum + (row.Quantity * row.Price), 0);\nconst lastMonthRevenue = lastMonthSales.reduce((sum, row) => sum + (row.Quantity * row.Price), 0);\nconst growthRate = lastMonthRevenue > 0 ? ((currentMonthRevenue - lastMonthRevenue) / lastMonthRevenue * 100).toFixed(2) : '0.00';\n\n// Top products\nconst productSales = {};\nsales.forEach(row => {\n  const product = row.Product;\n  if (!productSales[product]) {\n    productSales[product] = { revenue: 0, quantity: 0 };\n  }\n  productSales[product].revenue += row.Quantity * row.Price;\n  productSales[product].quantity += row.Quantity;\n});\n\nconst topProducts = Object.entries(productSales)\n  .sort((a, b) => b[1].revenue - a[1].revenue)\n  .slice(0, 5)\n  .map(([name, data]) => ({ name, revenue: data.revenue, quantity: data.quantity }));\n\n// Sales by region\nconst regionSales = {};\nsales.forEach(row => {\n  const region = row.Region;\n  if (!regionSales[region]) regionSales[region] = 0;\n  regionSales[region] += row.Quantity * row.Price;\n});\n\n// Daily sales trend (last 30 days)\nconst last30Days = sales.filter(row => {\n  const date = new Date(row.Date);\n  const daysAgo = (now - date) / (1000 * 60 * 60 * 24);\n  return daysAgo <= 30;\n});\n\nconst dailySales = {};\nlast30Days.forEach(row => {\n  const date = new Date(row.Date).toISOString().split('T')[0];\n  if (!dailySales[date]) dailySales[date] = 0;\n  dailySales[date] += row.Quantity * row.Price;\n});\n\nconst salesTrend = Object.entries(dailySales)\n  .sort((a, b) => new Date(a[0]) - new Date(b[0]))\n  .map(([date, revenue]) => ({ date, revenue }));\n\nreturn [{\n  json: {\n    kpis: {\n      totalRevenue: totalRevenue.toFixed(2),\n      totalOrders,\n      avgOrderValue: avgOrderValue.toFixed(2),\n      growthRate,\n      currentMonthRevenue: currentMonthRevenue.toFixed(2),\n      lastMonthRevenue: lastMonthRevenue.toFixed(2)\n    },\n    topProducts,\n    regionSales,\n    salesTrend\n  }\n}];"
      },
      "id": "calculate-kpis",
      "name": "Calculate KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const { topProducts, regionSales, salesTrend } = $json;\n\n// Sales Trend Chart\nconst salesTrendChart = {\n  type: 'line',\n  data: {\n    labels: salesTrend.map(d => d.date),\n    datasets: [{\n      label: 'Daily Revenue',\n      data: salesTrend.map(d => d.revenue),\n      borderColor: 'rgb(75, 192, 192)',\n      backgroundColor: 'rgba(75, 192, 192, 0.2)',\n      tension: 0.4\n    }]\n  },\n  options: {\n    responsive: true,\n    plugins: {\n      title: { display: true, text: 'Sales Trend (Last 30 Days)', font: { size: 16 } }\n    },\n    scales: {\n      y: {\n        beginAtZero: true\n      }\n    }\n  }\n};\n\n// Top Products Chart\nconst topProductsChart = {\n  type: 'bar',\n  data: {\n    labels: topProducts.map(p => p.name),\n    datasets: [{\n      label: 'Revenue (₹)',\n      data: topProducts.map(p => p.revenue),\n      backgroundColor: [\n        'rgba(255, 99, 132, 0.8)',\n        'rgba(54, 162, 235, 0.8)',\n        'rgba(255, 206, 86, 0.8)',\n        'rgba(75, 192, 192, 0.8)',\n        'rgba(153, 102, 255, 0.8)'\n      ]\n    }]\n  },\n  options: {\n    responsive: true,\n    plugins: {\n      title: { display: true, text: 'Top 5 Products by Revenue', font: { size: 16 } }\n    },\n    scales: {\n      y: {\n        beginAtZero: true\n      }\n    }\n  }\n};\n\n// Region Sales Chart\nconst regionSalesChart = {\n  type: 'pie',\n  data: {\n    labels: Object.keys(regionSales),\n    datasets: [{\n      data: Object.values(regionSales),\n      backgroundColor: [\n        'rgba(255, 99, 132, 0.8)',\n        'rgba(54, 162, 235, 0.8)',\n        'rgba(255, 206, 86, 0.8)',\n        'rgba(75, 192, 192, 0.8)'\n      ]\n    }]\n  },\n  options: {\n    responsive: true,\n    plugins: {\n      title: { display: true, text: 'Sales by Region', font: { size: 16 } },\n      legend: { position: 'bottom' }\n    }\n  }\n};\n\nconst quickChartBaseUrl = 'https://quickchart.io/chart?width=800&height=400&c=';\n\nconst salesTrendUrl = quickChartBaseUrl + encodeURIComponent(JSON.stringify(salesTrendChart));\nconst topProductsUrl = quickChartBaseUrl + encodeURIComponent(JSON.stringify(topProductsChart));\nconst regionSalesUrl = quickChartBaseUrl + encodeURIComponent(JSON.stringify(regionSalesChart));\n\nreturn [{\n  json: {\n    ...$json,\n    chartUrls: {\n      salesTrend: salesTrendUrl,\n      topProducts: topProductsUrl,\n      regionSales: regionSalesUrl\n    }\n  }\n}];"
      },
      "id": "generate-charts",
      "name": "Generate Charts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "queryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\": [{\"text\": \"Analyze this sales data and provide 3 concise insights:\\n\\nTotal Revenue: ₹\" + $json.kpis.totalRevenue + \"\\nGrowth Rate: \" + $json.kpis.growthRate + \"%\\nTotal Orders: \" + $json.kpis.totalOrders + \"\\nAvg Order Value: ₹\" + $json.kpis.avgOrderValue + \"\\n\\nTop Products: \" + JSON.stringify($json.topProducts.map(p => p.name)) + \"\\n\\nProvide:\\n1. Key Trend (one sentence)\\n2. Opportunity (one sentence)\\n3. Risk/Warning (one sentence)\\n\\nFormat as:\\nTrend: [your insight]\\nOpportunity: [your insight]\\nRisk: [your insight]\"}]}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-analysis",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $json;\nconst aiText = geminiResponse.candidates[0].content.parts[0].text;\n\n// Parse the AI insights\nconst insights = {\n  trend: aiText.match(/Trend: (.*?)(?:\\n|$)/)?.[1] || \"Sales showing positive momentum\",\n  opportunity: aiText.match(/Opportunity: (.*?)(?:\\n|$)/)?.[1] || \"Focus on top-performing products\",\n  risk: aiText.match(/Risk: (.*?)(?:\\n|$)/)?.[1] || \"Monitor inventory levels\"\n};\n\nreturn [{\n  json: {\n    ...$node[\"Generate Charts\"].json,\n    aiInsights: insights\n  }\n}];"
      },
      "id": "format-insights",
      "name": "Format AI Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const { kpis, topProducts, aiInsights, chartUrls } = $json;\nconst reportDate = new Date().toLocaleDateString('en-IN', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0; padding: 20px; background: #f5f5f5; }\n    .container { max-width: 900px; margin: 0 auto; background: white; padding: 40px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { border-bottom: 3px solid #4CAF50; padding-bottom: 20px; margin-bottom: 30px; }\n    h1 { color: #333; margin: 0; font-size: 32px; }\n    .date { color: #666; font-size: 14px; margin-top: 5px; }\n    .kpi-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; margin: 30px 0; }\n    .kpi-card { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 20px; border-radius: 8px; color: white; }\n    .kpi-label { font-size: 14px; opacity: 0.9; margin-bottom: 5px; }\n    .kpi-value { font-size: 32px; font-weight: bold; }\n    .kpi-change { font-size: 14px; margin-top: 5px; }\n    .growth-positive { color: #4CAF50; }\n    .growth-negative { color: #f44336; }\n    .insights-section { background: #fff3cd; border-left: 4px solid #ffc107; padding: 20px; margin: 30px 0; }\n    .insight-item { margin: 15px 0; }\n    .insight-label { font-weight: bold; color: #856404; }\n    .chart { margin: 30px 0; }\n    .chart img { width: 100%; max-width: 800px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #ddd; font-size: 12px; color: #666; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📊 Weekly Sales Intelligence Report</h1>\n      <div class=\"date\">${reportDate}</div>\n    </div>\n\n    <div class=\"kpi-grid\">\n      <div class=\"kpi-card\" style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\">\n        <div class=\"kpi-label\">Total Revenue</div>\n        <div class=\"kpi-value\">₹${kpis.totalRevenue}</div>\n        <div class=\"kpi-change ${parseFloat(kpis.growthRate) >= 0 ? 'growth-positive' : 'growth-negative'}\">\n          ${kpis.growthRate}% vs last month\n        </div>\n      </div>\n      \n      <div class=\"kpi-card\" style=\"background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);\">\n        <div class=\"kpi-label\">Total Orders</div>\n        <div class=\"kpi-value\">${kpis.totalOrders}</div>\n      </div>\n      \n      <div class=\"kpi-card\" style=\"background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);\">\n        <div class=\"kpi-label\">Avg Order Value</div>\n        <div class=\"kpi-value\">₹${kpis.avgOrderValue}</div>\n      </div>\n      \n      <div class=\"kpi-card\" style=\"background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);\">\n        <div class=\"kpi-label\">Growth Rate</div>\n        <div class=\"kpi-value\">${kpis.growthRate}%</div>\n      </div>\n    </div>\n\n    <div class=\"insights-section\">\n      <h2 style=\"margin-top: 0; color: #856404;\">🤖 AI-Powered Insights</h2>\n      <div class=\"insight-item\">\n        <span class=\"insight-label\">📈 Key Trend:</span> ${aiInsights.trend}\n      </div>\n      <div class=\"insight-item\">\n        <span class=\"insight-label\">💡 Opportunity:</span> ${aiInsights.opportunity}\n      </div>\n      <div class=\"insight-item\">\n        <span class=\"insight-label\">⚠️ Risk Alert:</span> ${aiInsights.risk}\n      </div>\n    </div>\n\n    <div class=\"chart\">\n      <h2>Sales Trend (Last 30 Days)</h2>\n      <img src=\"${chartUrls.salesTrend}\" alt=\"Sales Trend\">\n    </div>\n\n    <div class=\"chart\">\n      <h2>Top 5 Products by Revenue</h2>\n      <img src=\"${chartUrls.topProducts}\" alt=\"Top Products\">\n    </div>\n\n    <div class=\"chart\">\n      <h2>Sales Distribution by Region</h2>\n      <img src=\"${chartUrls.regionSales}\" alt=\"Region Sales\">\n    </div>\n\n    <div class=\"footer\">\n      <p>Generated automatically by SmartReport System • ${reportDate}</p>\n      <p>This report is powered by AI analysis and real-time data processing</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html,\n    reportData: $json\n  }\n}];"
      },
      "id": "create-html",
      "name": "Create HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json.html }}"
            },
            {
              "name": "landscape",
              "value": false
            },
            {
              "name": "format",
              "value": "A4"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "convert-pdf",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_PDFSHIFT_CREDENTIAL_ID",
          "name": "PDFShift API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "stakeholder@company.com",
        "subject": "=Weekly Sales Report - {{ $now.format('MMM DD, YYYY') }}",
        "emailType": "html",
        "message": "=<h2>Weekly Sales Intelligence Report</h2>\n<p>Hi Team,</p>\n<p>Your automated sales report for the week is ready!</p>\n\n<h3>Quick Summary:</h3>\n<ul>\n  <li><strong>Total Revenue:</strong> ₹{{ $node[\"Calculate KPIs\"].json.kpis.totalRevenue }}</li>\n  <li><strong>Growth Rate:</strong> {{ $node[\"Calculate KPIs\"].json.kpis.growthRate }}% vs last month</li>\n  <li><strong>Total Orders:</strong> {{ $node[\"Calculate KPIs\"].json.kpis.totalOrders }}</li>\n</ul>\n\n<h3>🤖 AI Insights:</h3>\n<p><strong>Trend:</strong> {{ $node[\"Format AI Insights\"].json.aiInsights.trend }}</p>\n<p><strong>Opportunity:</strong> {{ $node[\"Format AI Insights\"].json.aiInsights.opportunity }}</p>\n<p><strong>Risk:</strong> {{ $node[\"Format AI Insights\"].json.aiInsights.risk }}</p>\n\n<p>See the attached PDF for detailed charts and analysis.</p>\n\n<p>Best regards,<br>SmartReport System</p>",
        "attachments": "={{ $json.data }}",
        "options": {
          "attachmentsPropertyName": "data",
          "attachmentsBinaryPropertyName": "data"
        }
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2000, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_TRACKING_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Report History"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Report History"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "total_revenue": "={{ $node[\"Calculate KPIs\"].json.kpis.totalRevenue }}",
            "total_orders": "={{ $node[\"Calculate KPIs\"].json.kpis.totalOrders }}",
            "growth_rate": "={{ $node[\"Calculate KPIs\"].json.kpis.growthRate }}",
            "email_sent": "success",
            "recipients": "stakeholder@company.com"
          }
        },
        "options": {}
      },
      "id": "log-history",
      "name": "Log Report History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2220, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Sales Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sales Data": {
      "main": [
        [
          {
            "node": "Calculate KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate KPIs": {
      "main": [
        [
          {
            "node": "Generate Charts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Charts": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Format AI Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Insights": {
      "main": [
        [
          {
            "node": "Create HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML Report": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Report History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-08T00:00:00.000Z",
  "versionId": "1"
}